body{
    background: #BDBDBD;
    margin: 0%;
    height: 100%;
}

.background {
    background-image: url(../img/bg.jpg);
    background-size: cover;
    width: 100%;
    margin: 0%;
    min-height: 850px;
}

.background h1 {
    font-size: 10em;
    font-family:sans-serif;
}

.background h2 {
    font-size: 6em;
    font-family: sans-serif;
}