<div class="container-fluid" style="width: 80%">

    <div class="row border-top border-bottom border-light-subtle">
      <div class="row py-5">
      <div class="col col-md-4 col-lg-8 py-5 px-0">
          <h2>This First Heading <span class="text-secondary">Will Catch Your Eye</span></h2>
          <p class="text-light-emphasis">Donec ullamcorper nulla non metus auctor fingilla.Vestibulum id ligula porta felis<br>
            euismod semper. Praesent commodo cursus magna, vel scelerisque nisl<br>
            consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col col-md-2 col-lg-4 py-3"><img src="./assets/img/1.jpg" class="rounded-circle img-fluid" alt="imagenwalter"></div>
      </div>
      </div>
    </div>