<!-- your html code here -->
<div class="container-fluid" style="width: 80%">
    <div class="row border-top border-bottom border-light-subtle">
        <div class="row py-5">
            <div class=" col-md-2 col-lg-3 py-2"><img src="./assets/img/2.jpg" class="rounded-circle img-fluid"
                alt="imagetyping"></div>
            <div class="serviceText col-md-4 col-lg-8 py-5 px-0">
                <h1 class="fw-bold">The Second Heading <span class="text-secondary">Is Pretty Cool Too.</span></h2>
                <p class="text-light-emphasis">Donec ullamcorper nulla non metus auctor fingilla.Vestibulum id ligula
                    porta felis<br>
                    euismod semper. Praesent commodo cursus magna, vel scelerisque nisl<br>
                    consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
            </div>
            
        </div>
    </div>
</div>